.postForm {
  display: flex;
  flex-direction: column;
  width: max-content;
  height: auto;
  background-color: #00000064;
  margin-top: 90px;
  padding: 70px 70px;
  border-radius: 500px;
  gap: 10px;
  color: rgba(240, 248, 255, 0.554);
}

.buttonforCreated {
  background-color: #eeeeeec3;
  padding: 8px 10px;
  box-sizing: border-box;
  border: none;
  border-radius: 6px;
}
