.container {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  height: 350px;
  gap: 30px;
  background-color: #ffffff;
  border-radius: 30px;
  padding: 40px 40px;
}
.container:hover {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  height: 350px;
  gap: 30px;
  background-color: #ffffff;
  border-radius: 30px;
  padding: 40px 40px;
  box-shadow: 0 0 10px 10px #4e83ff;
}

/* .containerPodcast {
  display: flex;
  flex-direction: column;
  gap: 30px;
} */

.metaData {
  font-size: 20px;
  display: flex;
  gap: 20px;
}

.author {
  color: rgba(19, 71, 229, 0.878);
}

.dateAndTime {
  color: #6b6b6b;
}

.blogHeader {
  font-size: 36px;
}

.description {
  color: #6b6b6b;
  font-size: 22px;
}

.tagContainer {
  display: flex;
  align-items: center;
  gap: 24px;
}
