.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 60px;
  padding-bottom: 100px;
  padding-left: 60px;
  padding-right: 60px;
  gap: 20px;
  background-color: #1449ea15;
}

.blogContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-top: 50px;
  gap: 80px 80px;
  width: 100%;
}

.sectionHeader {
  display: flex;
  color: rgba(19, 71, 229, 0.878);
  align-items: center;
  justify-content: space-between;
}

.sectionTitle {
  display: flex;
  gap: 4px;
  align-items: center;
  font-size: 28px;
  font-weight: 400;
}

.viewAll {
  color: rgba(19, 71, 229, 0.878);
  font-size: 20px;
}
