.containerFooter {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 200px;
  color: #4d4d4dd5;
  padding-top: 100px;
  padding-left: 100px;
  padding-right: 100px;
  padding-bottom: 200px;
}

.cardLogo {
  display: grid;
  grid-row: 2fr;
  row-gap: 20px;
  font-size: 25px;
  color: #234bfdd5;
}
.p {
  font-size: 25px;
  color: #4d4d4dd5;
}
.cardSocial {
  align-items: center;
}
.cardlink {
  align-items: center;
  padding-top: 30px;
  display: flex;
  gap: 20px;
}
