.navbar {
  width: 100%;
  background-color: rgb(255, 255, 255);
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 50px;
  padding-right: 50px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0px;
}

.menu {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: space-between;
}

.inactive {
  color: black;
  text-decoration: none;
  font-size: 25px;
  font-weight: 400;
}

.inactive:hover {
  color: rgba(19, 71, 229, 0.878);
  text-decoration: none;
  font-size: 25px;
  font-weight: 400;
}

.active {
  color: rgba(19, 71, 229, 0.878);
  font-size: 35px;
  font-weight: 600;
  text-decoration: none;
}
.active:hover {
  color: #0000ff;
  font-size: 25px;
  font-weight: 600;
  text-decoration: none;
}

.logo {
  font-family: Inter, Sarabun, sans-serif;
  display: flex;
  font-weight: 700;
  color: #ff731d;
  font-size: 24px;

  padding: 0;
  box-sizing: border-box;
  width: 42px;
  height: 42px;
}

.login {
  background-color: #b0b0b0;
  font-size: 25px;
  font-weight: 600;
  color: aliceblue;
  padding: 10px 50px;
  box-sizing: border-box;
  border-width: 10px;
  border-radius: 100px;
  text-decoration-line: none;
}

.login:hover {
  background-color: #0000ff;
  cursor: pointer;
}
.logout {
  background-color: #b0b0b0;
  font-size: 25px;
  font-weight: 600;
  color: aliceblue;
  padding: 10px 50px;
  box-sizing: border-box;
  border-radius: 150px;
  text-decoration-line: none;
  border: none;
}
.logout:hover {
  background-color: #0000ff;
  cursor: pointer;
}
