/* .containercard {
  width: 500px;
  height: 100px;
} */

.metaData {
  display: flex;
}

.author {
  color: #0432ff;
}

.dateAndTime {
  color: #6b6b6b;
}

.blogHeader {
  font-size: 36px;
}

.description {
  color: #6b6b6b;
  font-size: 22px;
}

.tagContainer {
  display: flex;
  align-items: center;
  gap: 24px;
}

.containercardimg {
  width: 100%;
  justify-content: space-between;
  box-sizing: border-box;
}
.cardimg {
  width: 400px;
  height: 400px;
  object-fit: cover;
  border-radius: 30px;
  overflow: hidden;
  align-items: center;
}
.img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
