.container {
  display: flex;
  flex-direction: column;
  padding: 60px 60px;
}

.blogContainer {
  width: 100%;
  padding-top: 60px;
  display: flex;
  justify-content: space-between;
}

.sectionHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.sectionTitle {
  display: flex;
  gap: 4px;
  align-items: center;
  font-size: 28px;
  color: #6b6b6b;
  font-weight: 400;
}

.viewAll {
  color: #b90101;
  font-size: 20px;
}
