.navbar {
  width: 100%;
  background-color: rgb(255, 237, 221);
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 50px;
  padding-right: 50px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0px;
}

.menu {
  display: flex;
  gap: 16px;
  align-items: center;
  justify-content: space-between;
}

.inactive {
  text-decoration: none;
}

.active {
  color: #0040ff;
  font-weight: bold;
  text-decoration: none;
}

.logo {
  font-family: Inter, Sarabun, sans-serif;
  display: flex;
  font-weight: 700;
  color: #ff731d;
  font-size: 24px;

  padding: 0;
  box-sizing: border-box;
  width: 42px;
  height: 42px;
}

.login {
  background-color: #eee;
  padding: 8px 10px;
  box-sizing: border-box;
  border: none;
  border-radius: 6px;
  text-decoration-line: none;
}

.login:hover {
  background-color: #6666dc;
  cursor: pointer;
}
