.loginForm {
  display: flex;
  flex-direction: column;
  width: auto;
  height: auto;
  border-radius: 5px;
  gap: 100px;
  display: flex;
  flex-direction: column;
  background-color: #6666dc14;
  margin-top: 100px;
  padding: 15px 15px;
  border-radius: 10px;
  gap: 20px;
  color: aliceblue;
}
.postForm {
  display: flex;
  flex-direction: column;
  width: max-content;
  height: auto;
  background-color: #6666dc24;
  margin-top: 90px;
  padding: 80px 80px;
  border-radius: 15px;
  gap: 10px;
  color: aliceblue;
  box-shadow: 0 0 30px 10px #ffffff;
}

.buttonforCreated {
  background-color: #eee;
  padding: 20px 10px;
  box-sizing: border-box;

  border-color: rgb(255, 164, 84);
  border-width: 3px;
  border-radius: 6px;
}

.signup {
  /* background-color: rgb(48, 66, 229); */
  background-color: rgb(255, 164, 84);
  border: none;
  padding: 15px 20px;
  border-radius: 6px;
  color: #eee;
  font-size: large;
  font-weight: 700;
}
